* {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/18px Arial, sans-serif;
}
.wrapper {
    min-width: 1280px;
    max-width: 1980px;
    margin: 0 auto;
}

.mainheader{
    text-align: center;
    height: 470px;

}
/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 400px;
    display: inline-block;
    margin-top: 70px;
    }

/* Menu
-----------------------------------------------------------------------------*/

.menu {
    min-width: 1280px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #D0D0D0;
    background: #ffffff;
    position: fixed;
    z-index: 1000;
}

.logo {
    padding-left: 50px;
    float: left;
}

#firmtitle {
    padding-left: 20px;
    font-family: "Segoe UI", Verdana, Arial, sans-serif;
    margin-top: 23px;
    font-size: 20px;
    float: left;
}

#auth {
    margin-left: 350px;
    background: whitesmoke;
    font-family: "Segoe UI", Verdana, Arial, sans-serif;
    width: 200px;
    height: 250px;
    position: relative;
    top: -187px;
    font-size: 16px;
    color: #2d96cd;
    float: left;
    transition: top 1.5s linear;
}

#auth:hover{
    top: 0px;
}
#authtext {
    position: absolute;
    bottom: 27px;
    left: 35px;
}


.horisontmenu{
    float: left;
    padding-left:25px;
    padding-top: 25px;}

ul.css-menu-1 {
    list-style: none
}

ul.css-menu-1 li {
    display: inline
}

ul.css-menu-1 li a {
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #2d96cd;
    font-size: 16px;
    padding: 15px
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    min-height: 600px;
    position: relative;
    background-image: url("/resources/images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content {
    background: #ffffff;
    padding: 20px 30px 50px;
    margin: 0 270px 0 270px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    padding: 5px;
    float: left;
    width: 250px;
    margin-left: -100%;
    position: relative;
    background: #ffffff;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
    padding: 5px;
    float: left;
    width: 250px;
    margin-left: -260px;
    position: relative;
    background: #ffffff;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer p{
    text-align: end;
    font-family: Arial, Tahoma, serif;
    font-size: 10px;
}
.footer {
    height: 30px;
    background: #ffffff;
}